img{
    border-radius:50%;
  }
  h1{
    font-size: 72px;
    background: -webkit-linear-gradient(#4568DC, #B06AB3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  body{
      font-family: Arial, Helvetica, sans-serif;
      font-size: medium;
      background-color: black;
      color: white;
      margin: 0;
      padding: 0;
      text-align: center;
  
  .container {
      display: flex;
      flex-wrap: flex;
    }
    
    
    
    .left {
      flex:2;
      padding: 10px;
    background-color: #000000;
  }
    .right {
      flex:1;
      padding:10px;
    background-color: #000000;
    
    .single-column {
    flex-basis: 100%;
    padding: 20px;
    background-color: #000000; 
    border-top: 1px solid #000000; 
    
    .container {
      display: flex;
      flex-wrap: flex;
    }
    
    .left {
      flex:2;
      padding: 10px;
    background-color: #000000;
  }
    .right {
      flex:1;
      padding:10px;
    background-color: #000000;
    }
  img{
    border-radius:12px;
  }
  
    .single-column {
    background-color: :#000000;
      
    }
  .single-column {
    flex-basis: 100%;
    padding: 20px;
    background-color: #000000; 
    border-top: 1px solid #000000; 
}